@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruda:wght@400..900&display=swap');
@import url('../css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-image: url(../images/background-mobile.png);
    background-size: contain;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-neutral-8);
    font-weight: 700;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        background-color: var(--color-primary-1);
        position: absolute;
        bottom: 0;
        border-radius: 30px;
    }
}

a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.btn-mobile {
    font-size: 1.5rem;
}
.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-2);
    }
}
.btn-outlined {
    background-color: transparent;
    color: var(--color-primary-1);
    border: 2px solid var(--color-primary-1);

    &:hover {
        background-color: var(--color-primary-1);
        color: var(--color-neutral-0);
    }
}

#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title {
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 12px;
        margin-top: 12px;
    }
}

#trending {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards {
        .trending-card {
            position: relative;

            img {
                width: clamp(300px, 5vw, 600px);
            }

            .trending-rate {
                background-color: var(--color-neutral-0);
                position: absolute;
                bottom: 70px;
                right: 30px;
                padding: 5px 10px;

                i {
                    color: var(--color-secondery-1);
                }
            }

            .trending-card-description {
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                color: var(--color-neutral-8);
            }

            span {
                font-size: 1rem;
                font-weight: 500;
                color: var(--color-neutral-7);
            }
        }
    }
}

@media (min-width: 768px) {
    #trending {
        .trending-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }
}